table {
  width: 100%;
}

.container{
  padding: 50px 80px;
}

.btn_action{
  margin: 5px;
}


.btn_home{
  padding: 20px 50px;
  display: flex;
  flex-direction: row-reverse;
}


.btn_home button{
  margin: 0px 10px;
  background-color: orange;
  color: #fff;
}

.fields-search input {
  border: 1px solid orange;
  height: 30px;
  width: 100%;
  margin: 25px;
  border-radius: 5px;
}

.fields-search input:focus {
  border: 1px solid orange;
}

.fields-search select {
  border: 1px solid orange;
  height: 30px;
  width: 30%;
  margin: 25px;
  border-radius: 5px;
}
